.button {
  @include font-small;

  display: flex;
  align-items: center;
  padding: 16px 32px;

  background-color: transparent;
  border: 1px solid;

  &__icon {
    width: 15px;
    height: 15px;
  }
}