.feedback {
  display: flex;
  align-items: center;

  width: 50%;
  padding: 50px;

  background-image: url(../img/bg6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-form {
    margin-left: auto;
    width: 70%;
  }
  
  &__title {
    @include heading-white;
    
  }

  &__item {
    position: relative;
    margin: 50px 0px;
  }

  &__item &__input + &__label {
    transition: all 0.4s;
  }

  &__item &__input:focus + &__label,
  &__item &__input:valid + &__label {
    color: $secondary;
    transform: translateY(-14px);
  }

  &__input {
    padding: 30px 6px 5px;

    background: transparent;
    border: none;
    border-bottom: $secondary 1px solid;
    width: 100%;
    outline: none;

      &:focus, 
      &:valid {
      border-bottom: lightblue 2px solid;
      color: $secondary;
    }
  }

  &__input &__label {
    display: inline-block;
    min-width: 5px;
  }

  &__label {
    @include regular-white;
    position: absolute;
    left: 0;
  }

  
}




