.intro {
  box-sizing: border-box;
  text-align: center;
  margin-top: 46px;

  &__title {
    @include heading-dark;

    margin: 0 ;

    font-size: 74px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-blue-color;
  }

  &__description {
    @include regular-dark;

    margin: 20px 0 50px 0;

    font-size: 18px;
  }
}