.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 68%;

  box-sizing: border-box;
  text-align: center;

  &__title {
    @include heading-dark;

    margin: 0 ;

    font-size: 74px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-blue-color;
  }

  &__description {
    @include regular-dark;

    margin: 20px 0 50px 0;

    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .intro {
    height: 50%;

    &__title {
      font-size: 54px;
    }
  }
}