.menu {
  height: 100%;
  padding: 46px 84px;

  background-color: $primary;
  z-index: 10;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__socials-networks {
    margin-top: 130px;
  }
}