@mixin heading-dark {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 500;
  color: $primary;
}

@mixin heading-white {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 500;
  color: $secondary;
}

@mixin regular-dark {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: $primary;
}

@mixin regular-white {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: $secondary;
}

@mixin title-white {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: $secondary;
}