.nav {


  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include regular-white;
    margin: 50px 0;
    list-style-type: none;
    color: $grey;
    cursor: pointer;
  }

  &__item:hover {
    color: $secondary;
    text-decoration: underline;
    transition: 0.5s;
  }
}