.offer {

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }

  &__title {
    margin: 0;
    padding: 60px 0;

    text-align: center;

    @include heading-white;
  }

  &__wrapper {
    margin: 50px 0;

    overflow: hidden;
  }

  &__grid {
    margin: -1px;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  &__item {
    display: flex;
    padding: 15px;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 192px;
    height: 192px;

    border: 1px #595959 solid;

    @include regular-white;
  }

  &__text {
    text-align: center;
  }

  &__img {
    width: 35px;
    height: 35px;
  }
}