.offer {

  &__title {
    @include heading-white;
    text-align: center;
    margin: 0;
    padding: 60px 0;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__grid {
    display: grid;
    margin: -1px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include regular-white;
    padding: 15px;

    border: 1px #595959 solid;
  }

  &__text {
    text-align: center;
  }

  &__img {
    width: 35px;
    height: 35px;
  }
}