.portfolio {

  
  &__content {
    position: relative;
  }

  &__title {
    @include heading-dark;
    padding: 60px 0;
    display: block;
    margin: 0;
    text-align: center;
  }

  &__img {
    width: 100%;
  }

  &__button {
    position: absolute;
    right: 20%;
    top: 180px;
  }
  
  &__pagination {
    margin: 0 30px;
  }
}