.section {

  
  &_full-screen {
    height: 100vh;
    width: 100%;
  }

  &_main {
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_offer {
    background-color: $primary;
  }

  &_black {
    background-color: $primary;
  }
}